header {
  background-color: #404041;
  text-align: center;
}
h1 {
  color: #DD1972;
  margin: 0px;
  padding-top: 2%;
  font-size: 40px;
}
header span {
  font-weight: normal;
}

hr {
  display: inline-block;
  width: 50px;

}
.ultimate {
  display: flex;
  align-items: center;
  justify-content: center;
  width:  53%;
  margin: 0px auto;


}
.p1 {
  color: #FFFFFF;
  display: inline-block;
}
